.main {
  display: flex;
  min-height: 87.5vh;
  background-image: url("../../../assets/bg1.jpg");
  background-position: center;
  background-size: cover;
}
#outer {
  display: flex;
  justify-content: center;
}

#outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#inner {
  width: 500px;
  /* border: 1px solid black; */
  position: absolute;
  text-align:center;
  left: 50%;
  transform: translate(-50%, -50%);
}
#inner {
  position: absolute;
  background-color: azure;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
